@font-face {
    font-family: "IranSansX";
    src: url("../fonts/IRANSansXFaNum-Regular.woff2");
}
@font-face {
    font-family: "IranSansXBold";
    src: url("../fonts/IRANSansXFaNum-Bold.woff2");
}
*{
    font-family: "IranSansX";
}
.navbar-brand{
    font-family: "IranSansXBold";
}

.bg-blue{
    background-color: #4385F5;
    color: white !important;
}

a{
    text-decoration: none;
}
.navbar-toggler-icon{
    color: white;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-primary
{
   color: white;
    background-color: #29ADB2;
    border-color: #29ADB2;
}
